/* navbar style start here */
.header-container {
  display: flex;
  justify-content: space-around;
}
.logo-container {
  text-transform: uppercase;
  font-size: 20px;
  color: #fd6f00;
  font-weight: bolder;
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.nav-btn {
  border-radius: 5px;
  background-color: #fd6f00;
  padding: 10px 15px;
  width: fit-content;
}
.list-container {
  width: 45%;
  margin: 0 auto;
}
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.list-items a {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
}
/* banner style start here */
.banner-container {
  display: flex;
  width: 90%;
  margin: 100px auto;
  align-items: center;
  min-height: 400px;
  justify-content: center;
  justify-content: space-between;
}
.banner-text-container {
  width: 50%;
  /* align-items: center;
  justify-content: center; */
}
.banner-image-container {
  width: 50%;
}
.banner-image-container img {
  width: 70%;
  height: 90%;
  margin-left: 90px;
}
.smallDivsection {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.smallDivsection h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.tag {
  background-color: #343434;
  width: 367px;
  height: 100px;
  /* padding: 17px 30px; */
  border-radius: 500px;
  padding: 10px, 20px, 10px, 20px;
  padding: 0px 10px;
  margin: 20px 0px;
  color: whitesmoke;
}
.work-icon-container {
  display: flex;
  gap: 1px;
  width: 200px;
  background-color: var(--primary-color);
  color: whitesmoke;
  /* width: fit-content; */
  border-radius: 50px;
  padding: 17px 30px;
  margin: 15px 0px;
}
.check-icon {
  width: 50px;
  height: 35px;
}
.pAnd-H {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* about section style start here */
.aboutme-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
/* experience section style start here */
.experience-container {
  display: flex;
  width: 90%;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 0px 20PX;
  justify-content: space-between;
  background: linear-gradient(90deg, #2d2531, #332627, #000000);
}
.experience-section {
  width: 50%;
  /* align-items: center;
  justify-content: center; */
}
.experience-details {
  width: 50%;
  padding: 20px 10px;
}
/* responsive section start here */
@media only screen and (min-device-width: 200px) and (max-device-width: 576px) {
  .list-items {
    flex-direction: column;
  }
  .header-container {
    min-width: none;
  }
  .logo-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .banner-container {
    flex-direction: column;
    margin-top: 30px;
    padding: 5px;
    margin: 5px;
  }
  .aboutme-container {
    flex-direction: column;
  }
  .smallDivsection h1 {
    flex-direction: column;
  }
}
